* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.list {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: end;
}

.list-two {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    display: none;
}

.lab,
.file {
    width: 20px;
}

li {
    list-style: none;
}

.hi {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: brown;
    color: white;
    margin-top: -5px;
    text-align: center;
}

.K {
    margin-top: 6px;
}

.middle {
    width: 590px;
    margin: auto;
    margin-top: 70px;
}

.middle img {
    position: relative;
}

.photo {
    top: 50;
    width: 280px;
    left: 150px;
}

img {
    /* margin: 60px 0px 0 550px; */
    width: 280px;

}

.go-inp {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px;
}

.go-inp:hover {
    box-shadow: 2px 3px 10px rgb(223, 222, 222);
    /* border:2px solid 2px 3px 10px rgb(223,222,222) ; */
}

.goog-inp {
    display: none;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;

}

.the-inp {
    width: 400px;
    border: none;
}

.mic {
    width: 30px;
    top: 5px;
    left: 510px;
}

.sear {
    width: 18px;
    top: 2px;
    left: -420px;
}

.cam {
    width: 30px;
    top: 5px;
    left: 90px;
    background-color: transparent;
}

.overall {
    display: flex;
    gap: 20px;
    margin: 10px 0 0 500px;
    text-align: center;

}

.one {
    width: 150px;
    height: 30px;
    background-color: rgb(248, 249, 250);
    padding: 5px;
    font-size: 15px;

}

.two {
    width: 180px;
    height: 30px;
    background-color: rgb(248, 249, 250);
    padding: 5px;
    font-size: 15px;

}

.offered {
    text-align: center;
    margin: 20px 80px 0 0px;
    font-size: 13px;
}

.sub-footer {
    background-color: rgb(248, 249, 250);
    margin-top: 190px;
    padding: 20px;
    border-bottom: 1px solid gainsboro;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 249, 250);
    font-size: 15px;
    padding: 20px;
}

.offered {
    font-weight: 400px;
    font-stretch: 100%;
}

.fir {
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cl:hover {
    text-decoration: underline;
}

.thir {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.the-footers{
    display: none;
}
@media (max-width:468px) {
    .photo {
        width: 150px;
        margin-left: -30px;
    }

    .overall {
        display: none;
    }

    .middle {
        width: 290px;
        margin: auto;
        margin-top: 70px;
    }

    .list-two {
        display: block;
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
    }

    .list {
        display: none;
    }

    .one-one {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .two-two {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .photo {
        top: 50;
        width: 200px;
        left: 75px;
    }

    .go-inp {
        display: none;
    }

    .goog-inp {
        display: block;
        border: 1px solid gray;
        border-radius: 30px;
        padding: 2px;
    }
    .goog-inp:hover {
        display: block;
        box-shadow: 2px 3px 10px rgb(223, 222, 222);
    }

    .the-inps {
        width: 200px;
        border: none;
        margin-bottom: 10px;
    }

    .mics {
        width: 30px;
        top: 5px;
        left: 210px;
    }

    .sears {
        width: 18px;
        top: 2px;
        left: -220px;
    }

    .cams {
        width: 30px;
        top: 5px;
        left: -10px;
        background-color: transparent;
    }
    .offered {
    margin-left: 50px;
    }
    .the-footer{
        display: none;    
    }
    .the-footers{
        display: block;
    }
    .sub-footers {
        background-color: rgb(248, 249, 250);
        margin-top: 190px;
        padding: 20px;
        border-bottom: 1px solid gainsboro;
    }
    
    .footers {
        display: flex;
        justify-content: space-between;
        background-color: rgb(248, 249, 250);
        font-size: 15px;
        padding: 20px;
    }
    .thirs {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
}